doctype html
html(lang="en")
  head
    title Huobi 计划委托
    script(src='/javascripts/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    link(href='/stylesheets/application.css', rel='stylesheet')

  body.container
    block content