extend ../layouts/layout

block content
  script(src='/javascripts/ltc_socket.js')

  for message in flash
    p #{message.message}

  #info will-show-ltc
  form(action='/settings' method='post')
    input(name="coin_type" value='ltc' type='hidden')
    div
      input(type='text' name='price' placeholder='触发价格')
    div
      input(type='radio' name='trade_type' value='sell_market')
      span
        | 卖出
      span
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      input(type='radio' name='trade_type' value='buy_market')
      span
        | 买入
    div
      input(type='text' name='amount' placeholder='数量或者价格')
    div
      input(type='submit' value='提交' class='submit')

  #show-settings
    if value
      div 触发价格： #{value.price}
      if value.trade_type == 'sell_market'
        div 行为： 卖出<此处是卖出的LTC数量>
        div 数量：#{value.amount}
      else
        div 行为： 买入<此处是买入LTC数量的价格总额(amount * price)>
        div 价格：#{value.amount}
      div
        a(href='/delete?key=ltc')
          | 删除委托